.game_container{
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 50px;
    text-align: right;
}

.game_container img{
    width: 35%;
    max-width: 480px;
    height: 170px;
    object-fit: cover;
    border-radius: 12px;
}

.game_info{
    background-color: #063a50;
    width: 65%;
    text-align: right;
    border: 1px solid blue;
    direction: rtl;
    border-radius: 50px;
    padding: 20px;
}

.content_container{
    background-color: #063a50;
    border: 1px solid blue;
    border-radius: 1rem;
    margin: 20px;
    padding: 20px;
    direction: rtl;
    text-align: right;
    font-size: 18px;
}

.button{
    display: inline-block;
    padding: 10px 20px;
    background: #2f97c4;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.2s;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.button:hover{
    background-color: #dadada;
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.7);
}

.button:active{
    transform: scale(0.97);
}

.comments{
    direction: rtl;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 15px;
    
}

.comment{
    background-color: #063a50;
    width: 350px;
    height: 400px;
    margin: 20px;
    border: 1px solid #2f97c4;
    padding: 20px;
    box-shadow: 0 15px 25px #2f97c4;
    border-radius: 50px;

}


/* .btn-comment {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2f97c4;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.btn-comment:hover {
    background-color: #24799c;
    transform: scale(1.05);
}

.btn-comment:active {
    transform: scale(0.98);
} */


.comment-button {
    margin-top: 20px;
    text-align: center;
}

.btn-comment {
    /* display: inline-block; */
    padding: 7px 14px;
    background-color: #2f97c4;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    display: block;
    width: fit-content;
    margin: 20px auto 0;

}

.btn-comment:hover {
    background-color: #257fa5;
}